<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- FromSymbol Column -->
  <ng-container matColumnDef="fromsymbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fromsymbol">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.fromsymbol}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Price
    </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="open24hour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by open24hour">
      % Diff.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.open24hour}} </td>
  </ng-container>

  <ng-container matColumnDef="high24hour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by high24hour">
      High 24h
    </th>
    <td mat-cell *matCellDef="let element"> {{element.high24hour}} </td>
  </ng-container>

  <ng-container matColumnDef="low24hour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by low24hour">
      Low 24h
    </th>
    <td mat-cell *matCellDef="let element"> {{element.low24hour}} </td>
  </ng-container>

  <ng-container matColumnDef="volume24hour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by low24hour">
      Volume 24h
    </th>
    <td mat-cell *matCellDef="let element"> {{element.volume24hour}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="volume24hourto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by volume24hourto">
      Volume24hourto
    </th>
    <td mat-cell *matCellDef="let element"> {{element.volume24hourto}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
